<html> 
<head> 
  <title>Spec Suite</title>
  <!-- Required vendor JS files -->
  <script type="text/javascript" src="code/vendor/air/AIRAliases.js"></script>
  <script type="text/javascript" src="code/vendor/air/AIRIntrospector.js"></script>
  <script type="text/javascript" src="vendor/foo-unit/lib/foo-unit.js"></script>
  <script type="text/javascript" src="vendor/foo-unit/lib/air.js"></script>

  <script type="text/javascript">
    foo.suite.files = ${testfiles};
  </script>

  <script type="text/javascript" src="suite.js"></script>

  <style type="text/css">
    html, body {
      font-size: 12px;
    }

    body {
      margin: 0 15px;
    }

    .pass, .fail {
      border: 1px solid #ccc;
      margin-bottom: 3px;
    }

    .pass {
      color: #222;
      background-color: #D0F5D1;
    }

    .fail {
      color: #c00;
      background-color: #F7BEC2;
    }

    .description {
      padding: 4px;
    }
    
    .fail .description {
      border-bottom: 1px solid #FCAEB8;
    }

    .failure-message {
      background-color: #F2F0BB;
      margin: 5px;
      padding: 4px;
    }

    #header {
      height: 14px;
    }
  </style>
</head>
<body>
  <h3 id="header"></h3>
  <div id="results"></div>
</body>
</html>
